:root {
    --background-color: rgb(191, 211, 201);
    --font-color: rgb(48, 78, 68);
    --header-background-color: rgb(48, 78, 68);
    --header-font-color: whitesmoke;
    --menu-hover-background:rgb(144, 175, 160); 
    --content-hover-background: rgb(226, 235, 230);
    --popup-btn-color: rgb(226, 235, 230);
    --content-background: white;
}

@font-face {
    font-family: "Modernist";
    src: url('../fonts/Sk-Modernist-Regular/Sk-Modernist-Regular.woff2') format('woff2'),
        url('../fonts/Sk-Modernist-Regular/Sk-Modernist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Modernist", sans-serif;
    color: var(--font-color)
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--header-background-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-font-color);
}

.menu-icon path,
.logo-icon path {
    fill: var(--header-font-color);
}

.main {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }
}

.menu {
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 1em;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        height: auto;
    }
}

body .hidden {
    display: none !important;
}

body .active {
    display: flex !important;
}

body .selected {
    filter: brightness(0.85);
    font-weight: bold;
}

.content {
    padding: 2em 10em;
    height: 100%;
    width: 70%;
    flex: 1;
    color: inherit;
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
        padding: 2em 2em;
    }
}

.footer {
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
}

.footer img {
    height: 24px;
    width: auto;
    transition: 0.5s;
}

.footer img:hover {
    height: 24px;
    width: auto;
    transform: scale(1.2) rotate(360deg);
    cursor: pointer;
}