.list  {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.list ul {
    width: 100%;
    overflow-y: auto;
    max-height: 15em;
    flex: 1;
}

.list li {
    list-style: none;
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list li a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: initial;
    word-break: break-word;
    overflow: auto;
}

.list li:hover .remove-icon {
    display:inline;
}

.right-li {
    margin-left: auto;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .right-li {
        min-width: 180px;
    }
}

.list a {
    text-decoration: none;
    color: inherit;
}

.list img {
    margin-right: 0.5em;
}

.remove-icon {
    margin-left: auto;
    display: none;
}

.list h2,
.list h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 0.5em;
}

.add-btn {
    align-items: center;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: inherit;
    gap: 0.5em;
}

::-webkit-calendar-picker-indicator {
    background-image: url("../images/today.png");
}