.list.todo li {
    background-color: var(--content-background);
}

.list.todo li.done {
    filter:opacity(0.5);
    text-decoration: line-through;
}

.list.todo li:hover {
    background-color: var(--content-hover-background);
}

.todo input {
    color: inherit;
    border-width: 0;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;
    display: flex;
    flex-flow: row-reverse;
}

.add-popup.input-title{
    border-width: 0.5px;
}

.todo.input-title {
    width: 100%;
    border-radius: 0.2em;
    margin: 0.1em;
    white-space: initial;
    word-break: break-word;
    overflow: auto;
}

.todo.input-date:focus {
    outline: none;
}

.todo.input-title:focus {
    outline: 0.5px solid var(--background-color);
}